.main_about {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../shared/images/common-img/12.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../shared/images/common-img/12.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
//   background-image: url(../../shared/icons/рамка.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--bs-gray-700);
    font-family: var(--monserrat);
    letter-spacing: 4px;
    font-weight: 600;
    //   font-family: 'Pacifico', cursive;
    font-style: italic;
  
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
      0px 2px 1px -1px rgb(0 0 0 / 12%);
  }