:root {
    // Fonts
    --main-font: "Verdana";
    --secondary-font: "Roboto"; 
  
    // Colors
    --grey-background-color: #e5e5e5;
    --font-black-color: #212121;
    --font-grey-color: #9b9faa;
    --universal-darkblue-color: #264061;
    --button-orange-color: #fc842d;
    --summary-grey-color: #f0f1f3;
    --header-grey-color: #eff1f3;
    --horizontal-row-color: #e0e0e0;
    --modal-background-grey-color: rgba(33, 33, 33, 0.12);
  }