.LogoBox {
  display: flex;
}

.Logo_Img {
  max-height: 67px;
}

.Logo {
  line-height: 1.2;
  //   font-family: var(--monserrat);
  //   font-family:var(--bs-font-sans-serif);
  //   font-family: 'Dancing Script', cursive;
}

.Logo_name {
  //   font-family: 'Open Sans Light', sans-serif;
  font-family: "CopperplateGothicBold";
  margin: 0;
  font-stretch: 50%;
  // color: #4b5085;
  color: var(--font-brown-light-1);
  // color: var(--bs-gray-900);
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-transform: uppercase;
  transition: 0.5s;
  // text-shadow: 1px -2px 0px #dbd0ba;
  // text-shadow: 1px 0px 0px var(--yellow);
}

@media screen and (min-width: 330px) {
  .Logo_name {
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: 20px;
  }
}
@media screen and (min-width: 400px) {
  .Logo_name {
    font-weight: 300;
    letter-spacing: 1.5px;
    font-size: 24px;
  }
}

.Logo:hover .Logo_name {
  color: var(--hover-main);
}

.Logo_about {
  font-family: "CopperplateGothic";
  // font-family: var(--monserrat);
  color: var(--font-brown);  
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 600;
  //   font-family: 'Pacifico', cursive;
  // font-style: italic;
  margin: 0;
}
