.Logo {
  line-height: 1.2;
  //   font-family: var(--monserrat);
  //   font-family:var(--bs-font-sans-serif);
  //   font-family: 'Dancing Script', cursive;
}

.Logo_name {
  //   font-family: 'Open Sans Light', sans-serif;
  font-stretch: 50%;
  color: var(--bs-gray-900);
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size: 28px;
  text-transform: uppercase;
  margin: 0;
}

.Logo_about {
  color: var(--bs-gray-700);
  font-family: var(--monserrat);
  letter-spacing: 3px;
  font-weight: 600;
  //   font-family: 'Pacifico', cursive;
  font-style: italic;
  margin: 0;
}
