.Logo {
  color: var(--bs-gray-600);
  //   font-family:var(--bs-font-sans-serif);
  //   font-family: 'Dancing Script', cursive;
}

.Logo_name {
//   font-family: 'Open Sans', sans-serif;
  font-weight: 400;
    letter-spacing: 1px;
  font-size: 28px;
  margin: 0;
}

.Logo_about {
  margin: 0;
}
