.page_title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: #f0f0f0;
  // box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
  // 0px 2px 1px -1px rgb(0 0 0 / 12%);
}

.page_about {
  color: var(--bs-gray-600);
  font-family: var(--monserrat);
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 600;
  //   font-family: 'Pacifico', cursive;
  font-style: italic;
  margin: 0;
  padding: 0 0 0 10px;
}

// CONTACTS

.contacts {
  padding: 0 0 10px 0;
}

.contacts-wrapper {
  display: flex;
}

.contacts_photo-box {
  // margin-bottom: 10px;
  height: 100%;
  border-radius: 3px;
  // padding: 0;
}

.contacts-img {
  // margin-bottom: 10px;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 2px 1px -1px rgb(0 0 0 / 12%);
}

.contacts_info,
.contacts_message {
  // margin-top: 5px;
  height: 100%;
  padding: 10px;
  border-radius: 3px;
  background-color: #f0f0f0;
  // background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../shared/images/common-img/main-1.jpg");
  // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../shared/images/common-img/main-1.jpg");
  //   background-size:contain;
  //   background-repeat: no-repeat;
  //   background-position: center;
  // background-image: url(../../shared/icons/рамка.svg);
  display: block;
  // align-items: center;
  // justify-content: center;
  // font-size: 20px;
  // color: var(--bs-gray-700);
  font-family: var(--monserrat);
  // letter-spacing: 4px;
  // font-weight: 600;
  // //   font-family: 'Pacifico', cursive;
  font-style: italic;

  // box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
  //   0px 2px 1px -1px rgb(0 0 0 / 12%);
}

//   .frame {
//     object-fit: fill
//   }

// .contacts_title{
//     box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
//       0px 2px 1px -1px rgb(0 0 0 / 12%);
// }

.contacts_info {
  // width: 100%;
  // height: 100%;
  font-size: 18px;
  // margin-bottom: 10px;
}

.contacts_info_svg {
  margin-left: 1px;
}
.first {
  display: flex;
  height: 100%;
}

.contacts_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  // box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%),
  // 0px 2px 1px -1px rgb(0 0 0 / 12%);
}

