/* MESSAGE */

.message_form {
  // background-color: var(--color1);
  background-color: #f0f0f0;  
}

.btn-go {
  display: block;
  // max-width: 250px;
  /* margin: 0 auto; */
  padding: 8px 20px;
  /* color: var(--bs-white); */
  // background-color: var(--color1);
  // background-color: #fff;
  border: 2px solid #fd7e14;
  border-radius: 25px;
  transition: all 0.2s ease;
}
.btn-go:hover {
  /* color: var(--bs-white); */
  background-color: #fff;
  border: 3px solid #fd7e14;
}

/* .message {
    background-color: var(--color4);
  } */

.mt-8 {
  margin-top: 8px;
}

.message_form-title{
   margin-bottom: 10px;
   font-weight: bold;
  //  letter-spacing: 1px;
}

// .mb-10 {
 
// }

.form-label {
  margin-bottom: 0;
}

// .bold {
  
// }
