




/* HEADER */

header {
  padding: 20px 0;
  // background-color: var(--color1);
  // background-color: #fffcfa;

  // box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  //   0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.menu-wrapper {
  display:flex;
  justify-content: flex-end;
}


.yello {
  color: #fdfd04;
  font-weight: 700;
  // -webkit-text-stroke: 1px rgb(136, 112, 252);
}
.nav-link {
  margin-right: 20px;
}

.me-50 {
  margin-right: 50px;
}

// .nav-link-right {
//   margin-right: 30px;
// }
.bold {
  font-weight: 700;
}
.logo {
  // background-color: var(--color3);
  padding: 8px 14px 8px 10px;
  font-size: 20px;
  align-items: end;
  // opacity: 0.5;
  // border-radius: 5px;
  transition: all 0.2s ease;
}
// .logo:hover {
//   opacity: 1;
// }
.nav {
  // color: var(--font-black-color);
  padding: 10px 0;
}

.nav > li > a {
  font-size: 18px;
  color: var(--bs-gray-600);}
 

.mr-50 {
  margin-right: 50px;
}

.dropdown-item {
  width: 30px;
  height: auto;
  padding: 0 !important;
  margin-bottom: 5px;
}



.dropdown-menu {
  min-width: 0 !important;
  padding: 5px;
  border: none !important;
}

.lang {
  text-decoration: none;
}

.lng {
  margin-top: 10px;
}



// .navbar {
//     padding: 15px 0;
//     margin-bottom: 30px;
//     box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
//     0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

// }

// .row {
//     display: flex;
//    align-items: center;
//      list-style: none; 
// //    padding-left: 50px;
// }
    

