/* Підвал */
footer {
  padding: 40px 0;
}

.btn-footer_wrapper {
  display:flex
}

.btn-footer {
  display: flex;
  margin-right: 20px;
padding: 0;
  // width: 176px;
  // height: 44px;
  font-family: var(--main-font);
  outline: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #ffffff;
  // box-shadow: 0px 4px 10px var(--font-grey-color);
  border: 2px solid var(--summary-grey-color);
  border-radius: 10px;
  cursor: pointer;
}

// .button:first-child {
//   margin-bottom: 20px;
//   @include mq(tablet) {
//     margin-bottom: 0;
//   }
// }

.btn-footer:active,
.btn-footer:hover {
  outline: none;
  // background: var(--color3);
  // color: var(--color3);
  border: 2px solid var(--font-grey-color);
  box-sizing: border-box;
  box-shadow: none;
}
